body {
    background-color: #2d3548; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    background-color: #333852;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.display {
    background-color: #0e1120;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
button {
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    background-color: #ebe2d0;
    color: black;
    border: none;
    width: 60px;
    height: 60px;
}
button.operator {
    background-color: #56597b;
    color: white;
}
button.reset {
    background-color: #6278a0;
    color: white;
}
button.equal {
    background-color: #d14343;
    color: white;
}